html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    height: 100vh;
    /* background: rgb(247,247,247); */
    background-image: linear-gradient(320deg, rgba(247, 247, 247, 0.849) 0%, rgba(105, 110, 108, 0.815) 41%, rgba(49, 51, 48, 0.87) 100%),
      url('../img/dog_2.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100vh;
}

.end-game-modal {
    width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(247, 243, 33);
	height: 100vh;
	visibility: hidden;
	z-index: 0;
	opacity: 0;
	transform: scale(1);
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);   
}

.end-game-modal-show {
    visibility: visible;
	opacity: 1;
	transform: scale(1);
	z-index: 1;  
}

.end-game-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-game-content {
    color:rgb(36, 33, 34);
}

.end-game-content h1 {
    font-size: 4rem
}

.end-game-content img {
    width: 300px;
    border-radius:100%;
    border: 20px solid #fff; 
    box-shadow: 10px 10px 5px black;
}

.restart-game {
    display: block;
    text-align: center;
    width: 250px;
    height: 60px;
    margin: 0 auto;
    transform: translateY(30px);
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
    transition: all .2s ease;
    color: #111;
}

.restart-game:hover {
    background-color: rgb(54, 54, 52);
    color: rgb(255, 255, 255);
}

.modal-container {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(247, 243, 33);
	height: 100vh;
	visibility: hidden;
	z-index: 0;
	opacity: 0;
	transform: scale(1);
    transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);

}

.modal-container-show {
    visibility: visible;
	opacity: 1;
	transform: scale(1);
	z-index: 1;
}

.modal-body {
    /* padding: 100px auto; */
    width: 300px;
    height: 300px;
    margin: 110px auto 0 auto;
    box-shadow: 20px 20px 20px #5353534f;
    text-align: center;
    position: relative;
    border: 10px solid rgb(255, 255, 255);
}
.modal-body-img {
    width: 200px;
    border: 5px solid #fff;
    margin: 0 auto;
    border-radius: 5px;
}

.modal-body-name,
.modal-body-title  {
    color: #fff;
    position: absolute;
    background: rgb(3, 118, 172);
}
.modal-body-name {
    top:0px;
    left:0px;
    margin-top: -30px;
    margin-left: -40px;
    padding: 3px 10px;
}

.modal-body-title {
    bottom:0px;
    right:0px;
    margin-bottom: -30px;
    margin-right: -40px;
    padding: 2px 10px;
    font-style: italic;  
    font-size: 20px;

}

.modal-body-bio {
    width: 60%;
    margin: 0 auto;
    transform: translateY(20px);
    font-size: 25px;
    
}

.close-x {
    /* color: rgb(3, 118, 172); */
    color:rgb(14, 14, 14);

    position: absolute;
    top: 0px;
    /* margin-top: -60px;
    margin-right: -40px; */
    right:20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px;
}

.close-x:hover {
    color:rgb(253, 253, 253);
}

.header-container{
    padding-top: 1rem; 
    width:70%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.header-container h1 {
    font-size: 4rem;
    
}

.header-container span {
    color:rgb(247, 243, 33);
    font-style: italic;
}
.header-container-img {
    width: 20%;
    text-align: center;
    margin: 0px auto 0px auto;
    direction: block;
}

.table-main {
    width: 400px;
    margin: 0 auto;
    transform: translateY(10px);
    opacity: 1;
    visibility:visible;
    z-index: 1;
	transform: scale(1);
	transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.table-main-hide {
    opacity: 0;
    visibility:hidden;
    z-index: -1;
	transform: scale(0);
	transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1);  
}

.table-data {
    opacity: 0;
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.5s;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 0px #7a7a7a;
    font-weight: bold;
}

.table-data-show {
    opacity: 1;
}

/* img {
    width: 20px;
} */

.table-data:hover {
   transform: scale(1);
}
